*{
	margin: 0px;
}

a {
	text-decoration: none;
}

/* TOP NAV BAR */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	color: #fff;
	background: #333;
	padding: 10px;
}

.toggler {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	color: #fff;
	background: #333;
}

.menu-icon {
	width: 20px;
}

.search-icon {
	width: 20px;
}

.link-navbar:hover {
	text-decoration: underline;
}

.toggler {
	width: fit-content;
}

.toggler > * {
	margin: 10px;
}

.title {
	font-size: 2rem;
	font-family: 'Lobster', cursive;
}

.btn-nav {
	background-color: #567b95;
	border: 1px solid #326891;
	color: #fff;
	font-size: 11px;
	line-height: 11px;
	font-weight: 700;
	border-radius: 5px;
	padding: 10px;
}

/* ASIDE */
aside {
	float: right;
	background: #444;
}

/* MAIN  */
.article-title {
	margin-left: -100px;
	margin-top: 40px;
	margin-bottom: 30px;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: gray;
}

#image1 {
	width: 75%;
}

main figcaption {
	width: 80%;
}

.capture-container {
	width: 75%;
	margin: 10px 0 10px;
}

article {
	width: 550px;
	background: #444;
}

.flex-article {
	display: flex;
	justify-content: space-between;
}

.video-caption {
	width: 600px;
}

.jumbo1 {
	width: 550px;
}

/* CENTER GRID */
.grid-container {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 20px;
	width: 800px;
}

.grid-item {
	padding-top: 150px ;
	font-size: small;
}

.bg-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#grid-image1 {
	width: 800px;
	height: 600px;
}

/* --------- SECOND ARTICLE ---------- */

.footer-article-2 {
	display: flex;
	justify-content: space-between;
}
.article-2 {
	background-color: brown;
}


/* ------- LAST SECTION --------- */
.last-section {
	display: flex;
	justify-content: center;
	background: green;
}


.most-popular {
	display: flex;
	flex-direction: column;
	background: blue;
	width: 30%;
}

.astronomy {
	background: orange;
	width: 70%;
}

.more-news {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 20px;
}

.editors {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
}

/*** footer **/
.footer {
	display: flex;
	justify-content: space-between;
}