*{
	margin: 0px;
}

a {
	text-decoration: none;
}

/* TOP NAV BAR */
.navbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 2;
	width: 99%;
	align-items: center;
	height: 30px;
	color: #333;
	background: #fff;
	padding: 10px;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.54);
}

.toggler {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	color: #fff;
	background: #fff;
}

.menu-icon {
	width: 20px;
}

.search-icon {
	width: 20px;
}

.link-navbar{
	color: #333;
	font-weight: bold;
}

.link-navbar:hover {
	text-decoration: underline;
	color: #333;
}

.toggler {
	width: fit-content;
}

.toggler > * {
	margin: 10px;
}

.title {
	font-size: 2rem;
	font-family: 'Lobster', cursive;
}

.btn-nav {
	background-color: #567b95;
	border: 1px solid #326891;
	color: #fff;
	font-size: 11px;
	line-height: 11px;
	font-weight: 700;
	border-radius: 5px;
	padding: 10px;
}

/* MAIN  */
.article-title {
	margin-left: -100px;
	margin-top: 80px;
	margin-bottom: 30px;
	font-style: italic;
}

article {
	font-size: 1.2rem;
}

article p{
	margin-bottom: 20px;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #fff;
}

.article-icons {
	display: flex;
}

.article-icons img{
	width: 20px;
	height: 20px;
	margin-left: 20px;
}

#image1 {
	width: 75%;
}

main figcaption {
	width: 80%;
}

.capture-container {
	width: 75%;
	margin: 10px 0 10px;
}

article {
	width: 550px;
	background: #fff;
}

.head-article {
	display: inline;
}

.flex-article {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;

}

.free-articles {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.free-articles hr {
	width: 20%;
	margin:20px;
}

.video-caption {
	width: 600px;
}

.jumbo1 {
	width: 550px;
}

/* CENTER GRID */
.grid-container {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0;
	left: auto;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 20px;
	width: 800px;
}

.grid-item {
	padding-top: 150px ;
	font-size: small;
}

.bg-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.text-grid {
	width: 800px;

}

.text-grid hr {
	width: 40px;
	margin-bottom: 10px;
}

#grid-image1 {
	width: 800px;
	height: 600px;
}

/* --------- SECOND ARTICLE ---------- */

.footer-article-2 {
	display: flex;
	justify-content: space-between;
}
.article-2 {
	background-color: #fff;
	margin-top: 20px;
}

.video-caption {
	margin-bottom: 50px;
	display: block;
}

.title-end {
	margin-bottom: 20px;
}
/* ------- LAST SECTION --------- */
.last-section {
	display: flex;
	justify-content: center;
	background: green;
}


.most-popular {
	display: flex;
	flex-direction: column;
	background: blue;
	width: 30%;
}

.astronomy {
	background: orange;
	width: 70%;
}

.more-news {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px 20px;
}

.editors {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
}

/*** footer **/
.footer-list {
	display: flex;
	justify-content: space-between;
}

.footer-links {
	text-align: center;
	margin-bottom: 80px;
}

.footer-links a{
	margin-right: 10px;
	font-size: 0.7rem;
	padding: 20px 0;
}

.footer-float {
	position: fixed;
	bottom: 0;
	text-align: center;
	padding: 15px 0;
	width: 100%;
	border-top: solid 1px #333;
	background: #fff;
}

/* ASIDE */
aside {
	position: absolute;
	right: 0;
	top: 1300px;
	z-index: 0;

	width: 200px;
	margin-right: 100px;
	background: #fff;
}

aside img {
	width: 80px;
	margin: 5px;
}


aside figure {
	display: flex;
	align-items: center;
}

aside a {
	color: #333;
}

aside hr {
	margin: 5px 0;
}